
<div id="container">
  <div id="page">
    <h1 id ="center" style="color:orange">Edit List</h1>
<%= render "form", list: @list , path:to_do_list_path,name:"Edit" %>
   </div><!--.page-->
</div><!--.container-->