
<div id="container">
  <div id="page">
    <h1 id ="center" style="color:orange">New List</h1>

<%= render "form", list: @list, path:to_do_list_index_path,name:"New" %>
   </div><!--.page-->
</div><!--.container-->